<% @obats.each do |obat| %>
  <tr>
  	<td><%= obat.obat_name %></td>
  	<td><%= obat.obat_minStock %></td>
  	<td><%= obat.obat_hpp %></td>
  	<td><%= obat.obat_hna %></td>
  	<td><%= obat.obat_hnask %></td>
  	<td><%= obat.obat_hja %></td>
    <td>
    	<%= link_to obat_path(obat), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %> <span class="fa fa-eye"></span> Lihat<% end %>
    	<%= link_to 'Ubah', edit_obat_path(obat), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} %> 
    	<%= link_to 'Hapus', del_obat_path(obat), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
  </tr>
<% end %>