<div class="container">
	<div class="row">
		<div class="col-md-2">Nama</div>
		<div class="col-md-4"></div>
		<div class="col-md-2">Stok Min</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-2">Nama</div>
		<div class="col-md-4"></div>
		<div class="col-md-2">Stok Min</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-2">Nama</div>
		<div class="col-md-4"></div>
		<div class="col-md-2">Stok Min</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-2">Nama</div>
		<div class="col-md-4"></div>
		<div class="col-md-2">Stok Min</div>
		<div class="col-md-4"></div>
	</div>
	<%= @obat.obat_name %>
	<%= @obat.obat_minStock %>
	<%= @obat.obat_hpp %>
	<%= @obat.obat_hna %>
	<%= @obat.obat_hnask %>
	<%= @obat.obat_hja %>
</div>