<%= form_for @stock, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @stock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this tipe stock from being saved:</h2>

        <ul>
        <% @stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :outlet, class: "control-label" %>
        </div>
        <div class="col-md-4">
          <%= f.autocomplete_field :outlet_name, autocomplete_outlet_outlet_name_stocks_path, {class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :obat, class: "control-label" %>
        </div>
        <div class="col-md-4">
          <%= f.autocomplete_field :obat_name, autocomplete_obat_obat_name_stocks_path, {class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= f.label :kuantitas, class: "control-label" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :stok_qty, class: "form-control" %>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-3">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-3">
          <%= link_to 'Batal', new_stock_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>   
    </div>
<% end %>