<% @stocks.each do |stock| %>
  <tr>
  	<% if current_user.admin? %><td><%= stock.outlet.outlet_name %></td><%end%>
  	<td><%= stock.obat.obat_name %></td>
  	<td><%= stock.stok_qty %>&nbsp;<%= getKemasan(stock.obat_id) %>@<%= getIsi(stock.obat_id) %></td>
    
    <% if current_user.admin? %>
    <td>
    	<%= link_to 'Ubah', edit_stock_path(stock), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} %> 
    	<%= link_to 'Hapus', del_stock_path(stock), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td><%end%>
  </tr>
<% end %>