<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.outlet.outlet_name %></td>
  	<td><%= stock.obat.obat_name %></td>
  	<td><%= stock.stok_qty %></td>
    <td>
    	<%= link_to 'Ubah', edit_stock_path(stock), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} %> 
    	<%= link_to 'Hapus', del_stock_path(stock), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
  </tr>
<% end %>