<%= form_for @outlet, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @outlet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@outlet.errors.count, "error") %> prohibited this tipe outlet from being saved:</h2>

        <ul>
        <% @outlet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :nama_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_name, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :tipe_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.collection_select :outlet_type_id, @otypes, :id, :otype_name, {prompt: "Pilih satu"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :alamat_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_address, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :telepon_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_phone, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :kota_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_city, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :email_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_email, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :fax_outlet, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :outlet_fax, class: "form-control" %>
        </div>
        <div class="col-md-1">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-1">
          <%= link_to 'Batal', new_outlet_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>
    </div>
<% end %>