<% @outlets.each do |outlet| %>
  <tr>
  	<td><%= outlet.outlet_name %></td>
  	<td><%= outlet.outlet_address %> <%= outlet.outlet_city %></td>
  	<td><%= outlet.outlet_phone %></td>
  	<td><%= outlet.outlet_email %></td>
  	<td><%= outlet.outlet_fax %></td>
    <td><%= link_to 'Ubah', edit_outlet_path(outlet), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} %> <%= link_to 'Hapus', del_outlet_path(outlet), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
  </tr>
<% end %>