<div class="container" style="max-width:400px; margin:15px">
<%= form_for([@dtrans_ask.transaksi_ask, @dtrans_ask], remote: true) do |f| %>
  <% if @dtrans_ask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dtrans_ask.errors.count, "error") %> prohibited this dtrans_ask from being saved:</h2>

      <ul>
      <% @dtrans_ask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <%= f.label :obat %>
      <%= f.autocomplete_field :obat_name, autocomplete_obat_obat_name_transaksi_ask_dtrans_asks_path, {class: "form-control"} %>
    </div>
    <div class="col-sm-4">
      <%= f.label :kuantitas %><br>
      <%= f.text_field :dta_qty, class: "form-control" %>
    </div>
    <div class="col-sm-2" style="margin-top:25px">
      <%= f.submit "Tambah", class: "btn btn-sm btn-primary" %>
    </div>
  </div>
<% end %>
</div>
