<% @transaksi.dtrans.each do |dtran| %>
	<tr>
  	<td><%= Obat.find(dtran.obat_id).obat_name %></td>
    <td><%= dtran.dta_qty %>&nbsp; <%= getKemasan(dtran.obat_id) %>@<%= getIsi(dtran.obat_id) %></td>
  	<td><%= dtran.stok %>&nbsp; <%= getKemasan(dtran.obat_id) %>@<%= getIsi(dtran.obat_id) %></td>
    <td><%= dtran.dtd_qty.nil? ? 0 : dtran.dtd_qty %>&nbsp; <%= getKemasan(dtran.obat_id) %>@<%= getIsi(dtran.obat_id) %></td>
    <td><%= dtran.dt_rsn %></td>
    <% if dtran.enough? && dtran.transaksi.asked? %>
    <td id="edit_<%= dtran.obat_id %>"><%= link_to "Drop", edit_transaksi_dtran_path(dtran.transaksi, dtran), class: 'btn btn-sm btn-default', remote: true %>
    </td>
    <% end %>
  </tr>
<% end %>