<% @transaksis.each do |transaksi| %>
  <tr>
    <% if current_user.admin? %>
      <td><%= Outlet.find(transaksi.receiver_id).outlet_name %></td>
    <% end %> 
    <td>
      <% if current_user.pengadaan? %>
        <%= Outlet.find(transaksi.receiver_id).outlet_name %>
      <% elsif current_user.gudang? or current_user.admin? %>
        <%= Outlet.find(transaksi.sender_id).outlet_name %>
      <% end %>
    </td>
  	<td><%= transaksi.created_at.strftime('%d-%B-%Y %H:%M') %></td>
  	<td>
  		<% if transaksi.trans_status.nil? %> 
  		  Belum Tervalidasi
  		<% elsif transaksi.trans_status == 1 %>
  		  Permintaan Tervalidasi
  		<% elsif transaksi.trans_status == 2 %>
  		  Dropping Tervalidasi
  		<% end %>
  	</td>
    <td>
      <% if current_user.pengadaan? %>
        <%= link_to show_a_transaksi_path(transaksi), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %> <span class="fa fa-eye"></span> Lihat<% end %>
      <% elsif current_user.gudang? %>
    	  <%= link_to show_d_transaksi_path(transaksi), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %> <span class="fa fa-eye"></span> Lihat<% end %>
      <% end %>
    	</td>
  </tr>
<% end %>