<%= form_for @otype, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @otype.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@otype.errors.count, "error") %> prohibited this tipe outlet from being saved:</h2>

        <ul>
        <% @otype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :tipe_outlet, class: "control-label" %><br>
      </div>
      <div class="col-md-5">
        <%= f.text_field :otype_name, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Batal', new_outlet_type_path, class: "btn btn-sm btn-default", remote: true %>
      </div>
    </div>
<% end %>