<%= form_for([@transaksi_ask, @transaksi_ask.dtrans_ask.build], remote: true) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.label :kuantitas %>
    </div>
    <div class="col-md-2">
      <%= f.number_field :dta_qty, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.label :obat %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :obat_id, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= f.submit %>
    </div>
  </div>
<% end %>
