<% @kemasans.each do |kemasan| %>
  <tr>
  	<td><%= kemasan.kemasan_name %></td>
    <td><%= kemasan.kemasan_vol %></td>
    <td><%= kemasan.kemasan_cap %></td>
    <td><%= kemasan.kemasan_unit %></td>
    <td><%= link_to 'Ubah', edit_kemasan_path(kemasan), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
    <td><%= link_to 'Hapus', del_kemasan_path(kemasan), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} %></td>
  </tr>
<% end %>